@use 'sass:math';

.card {
  display: block;
  padding: $base-padding;
  border: $base-border-thickness solid #ddd;
  box-shadow: $base-box-shadow;
  border-radius: math.div($base-border-radius, 4);

  .card-title {
    font-size: $base-font-size;
    padding-bottom: $base-padding;
    font-weight: bold;
  }
  .card-body {
    font-size: $base-font-size;

    a {
      text-decoration: underline;
    }
  }
}

$colors: (
    'primary': $primary,
    'secondary': $secondary
);

// Using LOOPS
@each $key, $val in $colors{
    .text-#{$key}{
        color: $val;
    }

    @for $i from 1 through 6{
        .text-#{$key}-light-#{$i}{
            color: mix(black, $val, $i * 10);
        }
    }
}


// USING MAP
// @debug map-get($colors, 'primary');
// @debug map-has-key($colors, 'thir');
// @debug map-remove($colors, 'primary');
// @debug map-merge($colors, ('pink': #ffc0cb));
 
// MATH and debug rule
// @debug "hello yuavraj";
// @debug math.div(10px, 2);
// @debug math.floor(2.3);
// @debug math.max(10px, 10pt, 11px);
